<div class="sidebar-box ftco-animate">
    <h3>Paragraf</h3>
    <p>
        Aracı teslim alırken yakıt seviyesi, hasar kontrolü ve sözleşme detaylarını dikkatle incelemek büyük önem taşır. Carbook olarak, sürecin her aşamasında şeffaf ve kullanıcı dostu hizmet sunuyoruz. 
        Sürprizlerle karşılaşmamak ve sorunsuz bir kiralama deneyimi yaşamak için bu adımları mutlaka uygulayın.
    </p>
</div>
